<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/backgroundImage"
    android:weightSum="2">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:orientation="vertical"
        android:gravity="top"
        android:id="@+id/TopLinearLayout"
        android:weightSum="4">
        <ImageView
            android:src="@drawable/selfiebox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_weight="2"
            android:gravity="center"
            android:layout_marginLeft="200dp"
            android:layout_marginRight="200dp" />
        <TextView
            android:text="The Selfie Box is there to immortalize your best moments!"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textSize="45dp"
            android:fontFamily="sans-serif"
            android:gravity="center"
            style="@style/ShadowText" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:orientation="vertical"
        android:gravity="center_horizontal">
        <Button
            android:layout_width="250dp"
            android:layout_height="250dp"
            android:text="Take my selfie!"
            android:background="@drawable/CircleButtonSelectorRed"
            android:gravity="center"
            style="@style/ShadowText"
            android:textSize="40dp"
            local:MvxBind="Click GoToStep2PhotoViewCommand" />
    </LinearLayout>
</LinearLayout>